{% extends "base.html" %}
{% block content %}
<style>
    h1 {
        text-align: center;
        color: #00F;/*文字色*/
        padding: 0.5em 0;/*上下の余白*/
        border-bottom: solid 3px #00F;/*下線*/
    }

    .errorlist li{
            color: #f00;
            list-style-position: inside;
            padding: 0.2rem;
            text-align: left;
    }

    .form-group {
    margin-bottom: 15px;
    overflow: hidden;
}

.left-align {
    float: left;
    width: 140px; /* ラベルの幅を調整してください */
    text-align: left;
}

.right-align {
    margin-left: 5px; /* ラベルの幅 + マージンを調整してください */
    float: left;
}
    .center-align {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;

    }
    .right-align {
      text-align: right;
    }
    a.btn--yellow {
        color: #FFF;
        background-color: #000080;
        border-bottom: 5px solid #808080;
    }
    a.btn--yellow:hover {
        margin-top: 3px;
        color: #FFF;
        background: # 808080;
        border-bottom: 2px solid #808080;
    }
    input[type="submit"] {
        color: #FFF;
        background-color: #000080;
        border-bottom: 5px solid #808080;
        border-radius: 100vh;
        width: 50%;
        padding: 0.4rem 0.3rem;
        font-size: 1.0rem;
    }
    input[type="submit"]:hover {
        margin-top: 3px;
        color: #FFF;
        background: # 808080;
        border-bottom: 2px solid #808080;
    }

</style>
<h1>パスワードを再設定してください。</h1>
{% if messages %}
    {% for message in messages %}
        <div style="text-align: center; font-size: 20px;">{{ message.message }}</div>
    {% endfor %}
{% endif %}
<form method="POST" style="text-align: center;">
    <div class="center-align">
        <div class="form-container" style="display: inline-block; text-align: left;">
            {% csrf_token %}
            <div class="form-group" style="text-align: center;">
                <label class="left-align">{{ password_change_form.password.label }}</label>
                <div class="right-align">{{ password_change_form.password }}</div>
            </div>
            <div class="form-group" style="text-align: center;">
                <label class="left-align">{{ password_change_form.confirm_password.label }}</label>
                <div class="right-align">{{ password_change_form.confirm_password }}</div>
            </div>
            <p style="text-align: center;"><input type="submit" value="パスワード更新"></p>
            <p style="text-align: center;"><a href="{% url 'custmanage:edit_user_info' pk=request.user.pk %}" class="btn btn--yellow btn--cubic">〈 Back</a></p>
        </div>
    </div>
</form>
{% endblock %}