{% extends "base.html" %}
{% block content %}
<style>
    h1 {
        text-align: center;
        color: #00F;/*文字色*/
        padding: 0.5em 0;/*上下の余白*/
        border-bottom: solid 3px #00F;/*下線*/
    }
    p {
        text-align: center;
        width: 100%;
        align-items: flex-start;
    }
    a {
        padding-left: 20px
        }
</style>
<h1>パスワードを再設定してください。</h1>
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
<form method="POST">
{% csrf_token %}
{{ password_change_form.as_p }}
<p><input type="submit" value="パスワード更新"></p>
<br></br>
<a href={% url "custmanage:edit_user_info" pk=request.user.pk %} class="button">Back</a>
</form>
{% endblock %}