{% extends "base.html" %}
{% block content %}
<style>
    h1 {
        text-align: center;
        color: #00F;/*文字色*/
        padding: 0.5em 0;/*上下の余白*/
        border-bottom: solid 3px #00F;/*下線*/
    }

    .errorlist li{
            color: #f00;
            list-style-position: inside;
            padding: 0.2rem;
            text-align: left;
    }
    .center-align {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100%;

    }
    .right-align {
      text-align: right;
    }
    a.btn--yellow {
        color: #FFF;
        background-color: #000080;
        border-bottom: 5px solid #808080;
    }
    a.btn--yellow:hover {
        margin-top: 3px;
        color: #FFF;
        background: # 808080;
        border-bottom: 2px solid #808080;
    }
</style>
<h1>パスワードを再設定してください。</h1>
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
<form method="POST">
<div class="center-align right-align">
    <div class="form-container">
        {% csrf_token %}
        {{ password_change_form.as_p }}
        <p style="text-align: center;"><input type="submit" value="パスワード更新"></p>
        <p style="text-align: center;"><a href={% url "custmanage:edit_user_info" pk=request.user.pk %} class="btn btn--yellow btn--cubic">〈 Back</a></p>

    </div>
</div>
</form>
{% endblock %}