{% extends 'base.html' %}
{% block content %}
<style>
        h1 {
            color: #364e96;
            padding: 0.5em 0;
            border-top: solid 3px #364e96;
            border-bottom: solid 3px #364e96;
        }
</style>
<h1 style='text-align:center'>新規ユーザー登録を行います</h1>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-container {
      width: 400px;
    }
  </style>
</head>
<body>
  <div class="center">
    <div class="form-container">
      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <input type="hidden" name="next" value="{{ request.GET.next }}">
         <input type="submit" value="ユーザー登録">
      </form>
    </div>
  </div>
</body>
</html>
{% endblock %}
