{% extends 'base.html' %}
{% block content %}
<h1 style='text-align:center'>個人向け名刺管理ツール</h1>
<h2 style='text-align:center'>Welcome!!</h2>
<h3 style='text-align:center'>アナログな名刺をデジタルにして、データを残そう！</h3>

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-container {
      width: 400px;
    }
  </style>
</head>
<body>
  <div class="center">
    <div class="form-container">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ログイン">
      </form>
    </div>
  </div>
</body>
</html>
{% endblock %}
