{% extends 'base.html' %} {% comment %} ホーム画面（名刺一覧） {% endcomment %}
{% block content %}
<style>
        h1 {
      color: #364e96;/*文字色*/
      padding: 0.5em 0;/*上下の余白*/
      border-bottom: solid 3px #364e96;/*下線*/
    }
    .table-bordered {
        border-color: #000000;
        }
    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-align {
      text-align: right;
    }
    a.btn--yellow {
  color: #FFF;
  background-color: #000080;
  border-bottom: 5px solid #808080;
}
a.btn--yellow:hover {
  margin-top: 3px;
  color: #FFF;
  background: # 808080;
  border-bottom: 2px solid #808080;
}

    input[type="submit"] {
        color: #FFF;
        background-color: #000080;
        border-bottom: 5px solid #808080;
        border-radius: 100vh;
        width: 80%;
    }
    input[type="submit"]:hover {
        margin-top: 3px;
        color: #FFF;
        background: # 808080;
        border-bottom: 2px solid #808080;
    }
    .custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown input[type="text"] {
  width: 200px;
  padding: 10px;
}

.dropdown-list {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #ddd;
}
</style>
<h1 style="text-align:center;">名刺一覧</h1>
    <h3 style="text-align:center;">⇓会社名 / 業種 / 資格でソート⇓</h3>

<div class="center-align right-align">
    <div class="form-container">
    <form method="get" action="{% url 'custmanage:cust_list' %}">
        <p style="text-align: center;"><span>会社名：</span>
            <span style="float: right; margin-right: 30px;">
                {% comment %} プルダウン表示にする。forでリスト内の要素を表示するようにする。 {% endcomment %}
                <select name="Company_name"> 
                    <option value="">選択してください</option>
                    <option value=""></option>
                        {% for Cust_info in object_list %}
                            <option value="{{ Cust_info.Company }}">{{ Cust_info.Company }}</option>
                        {% endfor %}
                </select>
            </span>
        </p>
        <p style="text-align: center;"><span>業種：</span>
            <span style="float: right; margin-right: 30px;">
                <select name="Cust_job_name">
                    <option value="">選択してください</option>
                    <option value=""></option>
                        {% for Cust_info in object_list %}
                            <option value="{{ Cust_info.Cust_job }}">{{ Cust_info.Cust_job }}</option>
                        {% endfor %}
                </select>
            </span>
        </p>
        <p style="text-align: center;"><span>資格：</span>
            <span style="float: right; margin-right: 30px;">
                <select name="Cust_skill_name">
                    <option value="">選択してください</option>
                    <option value=""></option>
                        {% for Cust_info in object_list %}
                            <option value="{{ Cust_info.Cust_skill }}">{{ Cust_info.Cust_skill }}</option>
                        {% endfor %}
                </select>
            </span>
        </p>
        <p style="text-align:center;">重要度で並べ替える：
        昇順<input type="radio" name="order_by_importance_level" value="1" {% if ascending %}checked{% endif %}>
        降順<input type="radio" name="order_by_importance_level" value="2" {% if descending %}checked{% endif %}>
        </p>
        <p style="text-align:center;"><input type="submit" value="実行する"/></p>
    </form>
    </div>
</div>
<h3 style="text-align:center;">★"氏名"のリンクから詳細画面へ★</h3>
        <div class="col-10 offset-1" style="overflow-x: auto;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td><b>氏名</b></td>
                        <td><b>会社名</b></td>
                        <td><b>業種</b></td>
                        <td><b>資格</b></td>
                        <td><b>重要度</b></td>        
                        <td><b>作成日</b></td>
                        <td><b>更新日</b></td>
                    </tr>
                </thead>
                <tbody> 
                    {% for Cust_info in object_list %}
                    <tr>
                    {% comment %} ↓顧客氏名を詳細画面へのリンクにする  {% endcomment %}
                    <td><a href="{% url 'custmanage:cust_detail' pk=Cust_info.pk %}">{{ Cust_info.Cust_name }}</a></td>
                    <td>{{ Cust_info.Company }}</td>
                    <td>{{ Cust_info.Cust_job }}</td>
                    <td>{{ Cust_info.Cust_skill }}</td>
                    <td>{{ Cust_info.importance_level }}</td>
                    <td>{{ Cust_info.create_at }}</td>        
                    <td>{{ Cust_info.update_at }}</td>        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
<p style="text-align:center;"><a href={% url "custmanage:add_cust_info" %} class="btn btn--yellow btn--cubic">＋顧客情報の新規登録</a></p>
{% endblock %}
