{% extends 'base.html' %}   {% comment %} 詳細画面 {% endcomment %}
{% block content %}
<style>
    h1 {
      color: #364e96;/*文字色*/
      padding: 0.5em 0;/*上下の余白*/
      border-bottom: solid 3px #364e96;/*下線*/
    }
    .table-bordered {
        border-color: #000000;
        }
    td {
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
    }
    .table td {
        white-space: nowrap;
        text-overflow: ellipsis; 
    }
    p {
    text-align: center;
    }

    a.btn--yellow {
        color: #FFF;
        background-color: #000080;
        border-bottom: 5px solid #808080;
    }
    a.btn--yellow:hover {
        margin-top: 3px;
        color: #FFF;
        background: # 808080;
        border-bottom: 2px solid #808080;
    }
    input[type="submit"] {
        color: #FFF;
        background-color: #000080;
        border-bottom: 5px solid #808080;
        border-radius: 100vh;
        width: 100%;
    }
    input[type="submit"]:hover {
        margin-top: 3px;
        color: #FFF;
        background: # 808080;
        border-bottom: 2px solid #808080;
}
</style>
<h1 style='text-align: center;'>詳細情報</h1>
<div class="col-10 offset-1" style="overflow-x: auto;">


{% comment %} リスト表示 {% endcomment %}
<table class="table table-striped table-bordered"> 
<thead> 
{% comment %} リストの項目名 {% endcomment %}
    <tr>
        <td><b>氏名</b></td>
        <td><b>会社名</b></td>
        <td><b>所在地</b></td>
        <td><b>役職</b></td>
        <td><b>業種</b></td>
        <td><b>資格</b></td>
        <td><b>メールアドレス</b></td>
        <td><b>電話番号</b></td>
        <td><b>作成日</b></td>
        <td><b>更新日</b></td>
        <td><b>重要度</b></td>
        <td><b>備考</b></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{ object.Cust_name }}</td>
        <td>{{ object.Company }}</td>
        <td>{{ object.Company_address }}</td>
        <td>{{ object.Cust_post }}</td>
        <td>{{ object.Cust_job }}</td>
        <td>{{ object.Cust_skill }}</td>
        <td>{{ object.Cust_mail }}</td>
        <td>{{ object.Cust_phone_num }}</td>
        <td>{{ object.create_at }}</td>        
        <td>{{ object.update_at }}</td>        
        <td>{{ object.importance_level }}</td>
        <td>{{ object.memo }}</td>        
    </tr>
</tbody>
</table>
</div>
<br></br>
<p><a href="{% url 'custmanage:edit_cust_info' object.id %}" class="btn btn--yellow btn--cubic">編集 〉</a></p>
<br></br>
<p><a href="{% url 'custmanage:delete_info' object.id %}" class="btn btn--yellow btn--cubic">削除 〉</a></p>
<br></br>
<p><a href={% url "custmanage:cust_list" %} class="btn btn--yellow btn--cubic">〈 Back</a></p>


{% endblock %}