<form method="POST">
{% csrf_token %}
<style>
    h2 {
      color: #364e96;/*文字色*/
      padding: 0.5em 0;/*上下の余白*/
      border-bottom: solid 3px #364e96;/*下線*/
      text-align: center;
    }
    p{
    text-align: center;
    }
      .red-text {
    color: red;
  }

.btn,
a.btn,
button.btn {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 0.9;
  position: relative;
  display: inline-block;
  padding: 0.8rem 0.6rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #212529;
  border-radius: 0.3rem;
}

  a.btn--yellow {
    color: #FFF;
    background-color: #000080;
    border-bottom: 5px solid #808080;
  }
  a.btn--yellow:hover {
    margin-top: 3px;
    color: #FFF;
    background: # 808080;
    border-bottom: 2px solid #808080;
  }
  input[type="submit"] {
    color: #FFF;
    background-color: #000080;
    border-bottom: 5px solid #808080;
    border-radius: 100vh;
    width: 15%;
    padding: 0.4rem 0.3rem;
    font-size: 1.0rem;
  }
  input[type="submit"]:hover {
    margin-top: 3px;
    color: #FFF;
    background: # 808080;
    border-bottom: 2px solid #808080;
  }
</style>
<h2>削除してよろしいでしょうか？</h2>
<p class="red-text">※削除を実行すると、元に戻せません※</p>
<p><input type="submit" value="削除する"></p>
{% comment %} <p><a href={% url "custmanage:cust_detail" object.id %} class="button">Back</a></p> {% endcomment %}
<p><a href={% url "custmanage:cust_detail" object.id %} class="btn btn--yellow btn--cubic">〈 Back</a></p>
</form>